

header{
    background-color: #ffff66;
    width: 100%;
    height: 100px;
    }
    
#cel11{
    width: 200px;
    height: 200px;
    color: yellow;
    background-color: Navy;
}
#cel12{
    width: 200px;
    height: 200px;
    background-color: darkblue
}
#cel13{
    width: 200px;
    height: 200px;
    color: orange;
    background-color: mediumblue;
}
#cel14{
    width: 200px;
    height: 200px;
    background-color: blue;
}
#cel21{
    width: 200px;
    height: 200px;
    color: white;
    background-color: midnightblue;
}
#cel22{
    width: 200px;
    height: 200px;
    background-color: royalblue
}
#cel23{
    width: 200px;
    height: 200px;
    color: black;
    background-color: steelblue;
}
#cel24{
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
}
#cel31{
    width: 200px;
    height: 200px;
    color: green;
    background-color: deepskyblue;
}
#cel32{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue
}
#cel33{
    width: 200px;
    height: 200px;
    color: greenyellow;
    background-color: skyblue;
}
#cel34{
    width: 200px;
    height: 200px;
    background-color: lightskyblue;
}
#cel41{
    width: 200px;
    height: 200px;
    color: purple;
    background-color: lightsteelblue;
}
#cel42{
    width: 200px;
    height: 200px;
    background-color: lightblue
}
#cel43{
    width: 200px;
    height: 200px;
    color: darkgreen;
    background-color: powderblue;
}
#cel44{
    width: 200px;
    height: 200px;
    background-color: slateblue;
}

.afbeelding{
    width: 180px;
    height: 180px;
}

footer{
    background-color: #ccff66;
    width: 100%;
    height: 100px;
    }